/* Viewer CSS for styling and shit */

.highlight-phase {
    background-color: #3498db; /* Use the color you want for the highlight effect */
    transition: background-color 0.15s ease-in-out;
     /* Adjust the transition duration */
}

.downlight-phase {
    background-color: rgb(56, 56, 56);
    transition: background-color 0.15s ease-in-out;
}

.highlight-intervention {
    background-color: #3498db; /* Use the color you want for the highlight effect */
    transition: background-color 0.15s ease-in-out;
     /* Adjust the transition duration */
}

.downlight-intervention {
    background-color: rgb(56, 56, 56);
    transition: background-color 0.15s ease-in-out;
}
