.MuiTable-root {
    background-color: rgb(39, 39, 42) !important;
    border: none !important;
    color:cornsilk !important;
    font-family: monospace !important;
}

.MuiTableCell-root {
    background-color: rgb(39, 39, 42) !important;
    border: none !important;
    color:cornsilk !important;
    font-family: monospace !important;
    border:none !important;
}

.MuiInputBase-input {
    background-color: rgb(75, 75, 80) !important;
    border: none !important;
    color:cornsilk !important;
    font-family: monospace !important;
    border:none !important;
    padding: 5.5px 10px !important;
    
}