/* Additional custom styles for the Calndar */

.rbc-calendar {
    background-color: transparent;
    height: 100% !important;
    margin-top: 5px !important;
}

#calendar-load {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27);
    --tw-text-opacity: 1;
    color: rgb(203 213 225);
    text-transform: none;

}

.MuiPaper-root {
    background-color: rgb(24 24 27) !important;
    color: rgb(203 213 225) !important;
}

.rbc-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
  }

.rbc-btn-back {
    background-color: rgb(24 24 27) !important;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.rbc-btn-today {
    background-color: rgb(24 24 27) !important;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.rbc-btn-next {
    background-color: rgb(24 24 27) !important;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}